
<img src="{{ asset('images/logo.png') }}" alt="Symfony!" />

<link href="{{ asset('css/blog.css') }}" rel="stylesheet" />
<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="Symfony!" />

<a href="{{ url('welcome') }}">Home</a>
<p>The google tracking code is: {{ ga_tracking }}</p>